@import './mixins';

@include font-face('NotoSans', 'NotoSansCJKkr-Light', normal, normal);
@include font-face('NotoSans', 'NotoSansCJKkr-DemiLight', 200, normal);
@include font-face('NotoSans', 'NotoSansCJKkr-Medium', 300, normal);
@include font-face('NotoSans', 'NotoSansCJKkr-Bold', bold, normal);
@include font-face('GmarketSans', 'GmarketSansLight', normal, normal);
@include font-face('GmarketSans', 'GmarketSansMedium', 500, normal);
@include font-face('GmarketSans', 'GmarketSansBold', bold, normal);

h1, h2, h3, h4, h5, h6, ul, li, p, body, html {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.main-title {
  font-size: 42px;
  color: #fff;
  letter-spacing: -2px;
}

* {
  box-sizing: border-box;
}

.none-smAndDown {
  @include smAndDown {
    display: none;
  }
}

.none-mdAndDown {
  @include mdAndDown {
    display: none;
  }
}

